<div class="row main">
	<div class="main-login main-center">
		<form ng-submit="loginForm()" class="form-horizontal" method="post" action="#">
			<div class='login_title'>
			    <span>Login to your account</span>
			</div>
			<div class="form-group">
				<label for="email" class="cols-sm-2 control-label">Email</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
						<input type="email" class="form-control" name="email" id="email" ng-model="email" placeholder="Enter your Email"/>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="cols-sm-2 control-label">Password</label>
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="password" id="password" ng-model="password" placeholder="Enter your Password"/>
					</div>
				</div>
			</div>
			<div class="form-group ">
				<button type="submit" class="btn login-submit">login</button>
				<div class="register">
                    <a href="#/register">Create account</a>
			    </div>
			</div>	
		  <div class='disclaimer'>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper laoreet placerat. Nullam semper auctor justo, rutrum posuere odio vulputate nec.</p>
		  </div>					
		</form>
	</div>
	</div>